.heading{
    color: red;
}
.img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.card{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.textWrapper{
    padding: 10px;
}